#elevators-form-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#elevators-form-container form{
    display: flex;
}

#elevators-form-container .input-container{
    margin: 5px;
    text-align: right;
}

#elevators-form-container input{
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0,0, 0.5);
    font-size: 1.25rem;
    width: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#elevators-form-container input:focus{
    border: 1px solid black;
    outline: none;
}

#elevators-form-container label{
    font-weight: 550;
    font-size: 1.2rem;
    margin: 0 15px;
}

#elevators-form-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    border: none;
    width: 85px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #42a5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#elevators-form-container button:hover{
    cursor: pointer;
    filter: brightness(85%);
}