:root{
    --elevator-icon-height: 35px;
    --elevator-icon-width: var(var(--elevator-icon-height));
}

.elevator-container{
}

.elevator-container .floor{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elevator-icon{
    height: var(--elevator-icon-height);
    width: var(--elevator-icon-width);
    transition-timing-function: ease-in-out;
}


.elevator-container:hover .elevator-icon{
    
}