:root{
    --elevator-icon-height: 35px;
    --elevator-icon-width: var(var(--elevator-icon-height));
}

.floor{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elevator-icon{
    height: var(--elevator-icon-height);
    width: var(--elevator-icon-width);
    transition: transform;
    transition-timing-function: ease-in-out;
}