:root{
    --elevator-icon-height: 50%;
    --elevator-icon-width: var(--elevator-icon-height);
}

.floor{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elevator-icon{
    height: var(--elevator-icon-height);
    width: var(--elevator-icon-width);
    transition: transform;
    transition-timing-function: ease-in-out;
}

.elevator-container{
    position: relative;
}

.timing-container{
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
}