#elevators-controller {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

#elevators-controller .btn {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    font-weight: bold;
    height: 35px;
    width: 90px;
    border-radius: 3px;
    border: none;
    font-family: "Calibri", sans-serif;
}
#elevators-controller .btn:focus{
    outline: none;
}


#elevators-controller .btn-default {
    color: #f5f5f5;
    background-color: #66bb6a;
}
#elevators-controller .btn-default:hover{
    cursor: pointer;
    filter: brightness(85%);
}
#elevators-controller .btn-default::after {
    content: 'Call';
}

#elevators-controller .btn-traveling {
    color: #f5f5f5;
    background-color: #f44336;
}
#elevators-controller .btn-traveling::after {
    content: 'Waiting';
}

#elevators-controller .btn-arrived {
    color: #66bb6a;
    background-color: #f5f5f5;
    border: 2px solid #66bb6a;
}
#elevators-controller .btn-arrived::after {
    content: 'Arrived';
}